.body{
    font-family: 'Playfair Display', serif;
}
.intro-part{
background-repeat: no-repeat;
background-color: rgba(20, 19, 19, 0.925);
display: flex;
}
.half-width-image{
    width: 40%;
    color: gainsboro;
    margin: 30px;
}
.name-size{
    font-weight:500;
}
.half-width-text{
    width: 70%;
    color: gainsboro;
    margin: 40px;
}


.name-color{
    color: firebrick;
}